*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    
}
body {
    background-color: #f1f1f1;
}
.MyQuizApp {
    width: 320px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    box-shadow: rgb(0, 0, 0 / 10%) 0px 10px 50px;
    transform: translate(-50%, -50%);
    border-radius: 48px;
    
}   
.img img {
    width: 60%;
}
.text {
    width: 90%;
    margin: auto;
}
.text h3 {
    margin-top: 10px;   
}
.MyBtn {
    margin-left: 193px;
    margin-top: 28px;
}
.MyBtn button {
    font-size: 20px;
    font-weight: 600;
    background-color: tomato;
    border: none;
    outline: none;
    color: #fff;
    padding: 4px 15px;
    cursor: pointer;
    border-radius: 57px 0px 51px 0px;
    transition: 0.2s ease-in-out;
}
.MyBtn button:hover {
    background-color: rgb(29, 194, 194);
}





.RoolsBox {
    width: 320px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    box-shadow: rgb(0, 0, 0 / 10%) 0px 10px 50px;
    transform: translate(-50%, -50%);
    border-radius: 48px;
}
.RulesTitle {
    margin-top: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 3px solid lightgrey;
    margin-bottom: 10px;
    padding: 5px;
}
.RulesList {
    width: 80%;
    margin: auto;   
}
ol li {
   font-size: 18px;
   font-weight: 400;
   padding: 10px 25px; 
}
.Buttons button {
    font-size: 20px;
    font-weight: 600;
    background-color: tomato;
    border: none;
    outline: none;
    color: #fff;
    padding: 4px 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-top: 46px;
}
.ExitButton {
    border-radius: 0px 47px 0px 46px;
}
.ExitButton:hover {
    background-color: red;
}
.ContinueButton {
    border-radius: 57px 0px 46px 0px;
    margin-left: 83px;
}
.ContinueButton:hover {
    background-color: rgb(29, 194, 194);
}

.Questions {
    width: 320px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    box-shadow: rgb(0, 0, 0 / 10%) 0px 10px 50px;
    transform: translate(-50%, -50%);
    border-radius: 48px;
}